body {
	margin-top: 2px;
	margin-left: 2px;
	font-family: 'Signika Negative', sans-serif;
}
.header {
	float:left;
	height: 20px;
	width: 100%;
	color: #f47835;
	background-color: #f47835;
	padding-left: 50px;
}
.header span {
	background-color: #f47835;
	color: #ffffff;
	padding-right: 15px;
	position: relative;
	font-size: 11px;
}
button {
	background-color: #d06822;
	border-radius: 25px; 
	color: #ffffff;
	border: none;
	font-size: 11px;
	padding-right: 6px;
}
.skinny {
	display: inline-block;
	float: left;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.skinny img {
	padding-right: 60px;
	padding-top: 15px;
	height: 90px;
	width: 90px;
	float: left;
}
p {
	font-size: 18px;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0;
	float: left;
	padding-top: 40px;
}
.ridges img {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	height: 2px;
	width: 100%;
}
.ties {
	position: relative;
}
.ties img{
	height: 220px;
	margin-left: :40px;
}
.ties span {
	font-size: 40px;
	height: 100px;
	width: 200px;
}
